# Hive Data Definition Language (DDL)

Now let us get into details about how to create tables in Hive using different approaches. We will be looking into simple tables as well as creating tables for query results using CTAS.
* Hive Data Types
* Creating Databases
* Creating Tables
* Create Table as Select

### Hive Data Types
Hive supports five types of data types.

We can list those as below
* Numeric Types
    * Integer
    * Decimal (Float and Double)
    * Date/Time Types
* String Types
* Misc Types
* Complex Types

Below are the list of different data types available in Hive.

***Primitive Types***

* INT
* BOOLEAN
* DATE
* TIMESTAMP
* STRING
* VARCHAR

***array_type***

ARRAY < data_type >

***map_type***

MAP < primitive_type, data_type >

***struct_type***

data_type
STRUCT < col_name : data_type [COMMENT col_comment], …>

***union_type***

UNIONTYPE < data_type, data_type, … > — (Note: Available in Hive 0.7.0 and later

### Creating a Database
Let us see how we can create Databases in Hive.
* To create a database in hive we will use create database command which we use same like relational databases.

create database bootcampdemo_retail_db_txt;

* It will create a DB directory over HDFS location under the warehouse. We can check our HDFS warehouse location.

set hive.metastore.warehouse.dir;

* To locate database from HDFS we use Linux regular expression command

hadoop fs -ls /apps/hive/warehouse/ | grep bootcampdemo_retail_db_txt

* To ignore the duplicate database or tables while creating we use “if not exists” like SQL.

create database if not exists bootcampdemo_retail_db_txt;

* Switching between databases

Use bootcampdemo_retail_db_txt;

### Creating Tables
Let us see how we can create tables in Hive databases. The syntax is similar to traditional RDBMS Create Table command, however, there are some subtle differences which we should be aware of.
* To create table use the below command

create table demo (i int,s string,v varchar(3));

    * To describe the table use below command

desc demo;

* Inserting data in to table demo

insert into demo values (1, "Hello", "World");

* Hive supports CRUD operations with some restrictions. However, it is not very common to use CRUD operations in Hive. It runs Map Reduce jobs and the overhead is very high.
* We can run standard SQL type of queries to query data from the table.

select * from demo;

* Hive always stores its data in HDFS warehouse directory.
* We can locate and validate the data by performing some HDFS commands in hive shell as below commands

dfs -ls /apps/hive/warehouse/bootcampdemo_retail_db_txt.db

dfs -ls /apps/hive/warehouse/bootcampdemo_retail_db_txt.db/demo

dfs -cat/apps/hive/warehouse/bootcampdemo_retail_db_txt.db/demo/00000_0

### Hive Metastore
Hive Metastore is used to store the metadata of Hive tables created as part of Hive Databases.
* We can use any standard RDBMS to configure Hive Metastore. In our case we are using MySQL.
* Hive Metastore is typically configured by administrators as part of setting up of cluster.
* Developers will not have access to Hive Metastore.
* Let us see quick demo how Hive Metastore data model look like by logging into the MySQL database and running few commands and queries.

### Create Table as Select – CTAS
Hive supports CTAS to create tables out of results of a query.
* Syntax is similar to standard CREATE TABLE command except that we also have select query to process data in other tables.
* It issues Map Reduce job to process data and load data into the new table.
* Column Names and Data Types are inherited from the fields or expressions specified in select clause of the query.