# HiveQL – Functions Overview

As part of this topic, We will cover the overview of relational databases. We will also see an overview of functions available in the hive with examples.
* Relational databases
* Introduction to hive functions
### Hive Functions – Comparison with RDBMS
### Hive Functions – Hive Functions – Overview
### Hive Functions – Extracting Information from Strings
### Hive Functions – Trimming, Padding and Concatenating
### Hive Functions – Replace and Type Conversion
### Hive Functions – Date Arithmetic Functions
### Hive Functions – Extracting Information from Dates
### Hive Functions – Unix Timestamp Functions

***RDBMS***
* undamentally it is for mission-critical online transactional application
* Schema on write
* Support for indexes
* List, range, hash

***SQL***
* Select or project the data
* Filtering (horizontal and vertical)
* Aggregations (sum, min, max, sd, variance, avg, mean)
* Sorting the data (global or based on a key)
* Ranking on the data (global or based on a key)
* Joins
* Set operations

***HIVE***
* This is for offline batch data processing
* Schema on read
* No support for indexes
* Partitioning (list), bucketing

***Hive Functions***
* To list the available functions in Hive use below command.

show function;

* To get usage/description of the function

describe function funtionname;

* Types of functions available in Hive
    * String manipulations
    * Case conversion: lower, upper, initcap

select lower(order_status) from orders limit 10;

* Extracting substring: substr, split

select substr("Hello world",3,3);

select substr("Hello worls",-5);

select substr(order_date, 1,10) from orders limit 10

select split(order_date,' ')[0] from orders limit 10;

* Indexing function: instr
    * To list the first occurrence of the substring

select instr(order_date,'00')from orders limit 10;

* Concat function: concat

select conct(2017,'-','02',-,'03');

* Trimming functions: ltrim, rrim, trim
    * It will trim only spaces on the left side

select ltrim("    Hello world");

select trim(order_date) from orders where.length(trim(order_date) != length(order_date);

* Padding functions: lpad, rpad

select concat(2017,'-',lpad(2,2,0),'-',lpad(3,2,0));

* Getting length: length
* Replacing characters or substring: regexp_replace, translate

select regexp_replace(split(order_date, " ")[0], '-', '/') from orders limit 10;

* For replacing characters we can use the translate function

select translate("hello world", "lo", "10");

* Date manipulation
    * Current date – current_date, current_timestamp, to_date

select current_date;

select current_timestamp;

select to_date(order_date) from orders limit 10;

* Arthematic functions – date_add, date_sub, datediff, months_between

select date_add(current_date, -4), date_add(current_date, -1);

select datediff("2018-06-15", "2018-02-10");

select months_between("2018-06-15", "2018-02-10");

* Extraction function – year, month, date, next_date, trunc, last_day, day etc

select year(current_date);

select month(current_date);

select day(current_date);

select date(current_date);

select trunc(current_date, 'MM');

select trunc(current_date, 'YY');

select last_day(current_date);

* Format function – date_format

select distinct date_format(order_date 'YYYY') from orders limit 10;

select date_format(current_date, 'dd');

select date_format(current_date, 'DD');

select date_format(current_timestamp, 'HH');

select date_format(current_timestamp, 'mm');

select date_format(current_timestamp, 'SS');

select date_format(current_timestamp, 'ss');

* Unix timestamp to/from database timestamp conversion function
    * to_unix_timestamp
    * unix_timestamp
    * from_unixtime

select to_unix_timestamp(order_date,'YYYY-MM'), to_unix_timestamp(order_date) from orders limit 10;

select unix_timestamp(current_timestamp);

select unix_timestamp(current_timestamp);

* type conversion

select * from orders where cast(substr(order_date,1,4) as int) = 2013 limit 10;