# HiveQL – Functions and Query Execution Life Cycle

As part of this topic, We will cover more hive functions like joins and aggregation using orders table.
### Hive Functions
***Miscellaneous***
* nvl –   Writing a logic to get age based on birthdate if it is null

emp - empno, empname, age, birth_date

nvl(age,current_date - birth_date) - if(age is null)current_date - birth_date

* case

select case when order_status in ("CLOSED", "COMPLETE") then "COMPLETED"
when order_status in ("PAYMENT_REVIEW", "PENDING", "PENDING_PAYMENT", "PROCESSING") then "PENDING" 
else "order_status" 
end 
from orders limit 10;

***Aggregate Functions***

select sum(order_items_subtotal) from order_items where order_item_order_id=2;

Get top N orders per day

* We will take completed or closed orders

SELECT * FROM orders WHERE order_status IN('COMPLETE','CLOSED' LIMIT 10;

SELECT o.order_date,o.order_id , sum(oi.order_item_subtotal) FROM orders o 
JOIN order_items oi 
ON o.order_id=oi.order_item_order_id
WHERE order_status IN('COMPLETE','CLOSED')
GROUP BY o.order_date, o.order_id
ORDER BY o.order_date,order_revenue desc
LIMIT 10;

SELECT o.order_date,o.order_id ,oi.order_item_subtotal FROM orders o 
JOIN order_items oi 
ON o.order_id=oi.order_item_order_id
WHERE order_status IN('COMPLETE','CLOSED') and o.order_id=4
GROUP by o.order_date, o.order_id
LIMIT 10;

***Analytics Functions***
* To get order revenue by rank

SELECT order_date,order_id,order_revenue,
rank() OVER (PARTITION BY order_date ORDER BY order_revenue DESC)rnk FROM(
SELECT o.order_date,o.order_id , sum(oi.order_item_subtotal) order_revenue
FROM orders o
JOIN order_items oi 
ON o.order_id=oi.order_item_order_id
WHERE order_status IN('COMPLETE','CLOSED')
GROUP BY o.order_date, o.order_id
)q 
LIMIT 10;

* To get only top five order revenue by date
    * When we run the below query it is running in three jobs when auto.convert.join is set to false if it is set to true it is running only two jobs
    * Join and Aggregation done in one job when auto joins enabled.
        * First job – Join
        * Second job – Aggregated
        * Third job – ordering the data

SELECT * FROM (SELECT order_date,order_id,order_revenue,
rank() OVER (PARTITION BY order_date ORDER BY order_revenue DESC)rnk FROM(
SELECT o.order_date,o.order_id , sum(oi.order_item_subtotal) order_revenue
FROM orders o
JOIN order_items oi 
ON o.order_id=oi.order_item_order_id
WHERE order_status IN('COMPLETE','CLOSED')
GROUP BY o.order_date, o.order_id
)q)q1
WHERE rnk<=5
LIMIT 10;